*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.App{
  background-image: linear-gradient(to right, #de6262 , #ffb88c );
  background-attachment: fixed;
}
.heading{
  background: linear-gradient(to right, #771d4a,red , #ec6ead);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  letter-spacing: 7;
  margin: 0px;
  padding:0px 60px 0px 60px;
}
.AudioGroup{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-top: 5px;
  width: 100%;
  justify-content: center;
}